.row {
  margin-left: 20px;
  color: white
}

.row h2 {
  margin-left: 10px;
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px 0;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 200px;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

.row__poster:hover {
  transform: scale(1.15);
  z-index: 10;
}
